# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
.env

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML
ml/saved_model/
ml/dataset/
ml/logs/
